<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">DSCI 550 Assignment 3 Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Visualizations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/vis1">Email Content Word Cloud</a>
          <a class="dropdown-item" href="/vis2">Visualization 2</a>
          <a class="dropdown-item" href="/vis3">Multi-Line Chart of Date &amp; Stock</a>
          <a class="dropdown-item" href="/vis4">Calendar View of Fraudulent Emails</a>
          <a class="dropdown-item" href="/vis5">Visualization 5</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
