{% extends 'layout.html' %}

{% block body %}

  <div class="container" id="vis3">
    <h1>Multi-Line Chart of Date &amp; Stock</h1>
    <p>This is a trend chart showing daily opening and closing stock price changes. </p>
    <div id="observablehq-chart-99d3351e"></div>
    <p>Credit: <a href="https://observablehq.com/@winnnnniez/dsci550-assignment3-vis3">Date &amp; Stock Multi-Line Chart by Xiuwen Zhang</a></p>

    <script type="module">
    import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
    import define from "https://api.observablehq.com/d/d8a036cb083e794c.js?v=3";
    new Runtime().module(define, name => {
      if (name === "chart") return new Inspector(document.querySelector("#observablehq-chart-99d3351e"));
    });
    </script>
  </div>

  <!-- <style>
    h1 {
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      padding: 1em;
    }
  </style> -->

{% endblock %}
